#toc_container {
    background: #b1f5fc97 none repeat scroll 0 0;
    border: 1px solid gray;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}
