extends layout

block content
    .w3-card-4
      header.w3-container.w3-teal
        h3.w3-left Students Manager (DAW2020)
      .w3-container
        ul
          li 
            a(href="/students") Students List
          li 
            a(href="/students/register") Register New Student
      footer.w3-container.w3-teal
        address Gerado por dawApp :: 2020-Nov, jcr  
