extends layout

block content
    .w3-card-4
        header.w3-container.w3-teal
            h1 Student #{student.numero}
        .w3-container
            ul.w3-ul.w3-car-4(style="width: 50%")
                li 
                    b Name: 
                    | #{student.nome}
                li 
                    b Number: 
                    | #{student.numero}
                li 
                    b Course: 
                    | #{student.nome}
                li 
                    b Git: 
                    | #{student.git}
                li  
                    form(
                        method="POST"
                        action="/students/delete"
                        enctype="application/x-www-form-urlencoded"
                    )
                        a.w3-btn.w3-blue-grey(href="/students/edit/" + student.numero) Edit
                        input(
                            type="hidden"
                            name="_method"
                            value="DELETE"
                        )
                        input(
                            type="hidden"
                            name="id"
                            value=student.numero
                        )
                        button.w3-btn.w3-red(
                            type="submit"
                            style="margin-left: 40px"
                        ) Delete                                               
        footer.w3-container.w3-teal
            address(style="margin-top: 10px") Gerado por DAW App :: DAW2020 em #{date}
            address(style="margin-top: 20px")
                a(href='/students') [Back to Main Page]