extends layout

block content
    .w3-container.w3-teal(style = "margin-bottom: 20px;")
      h2=title
    form.w3-container(
      action=action
      method='POST'
    )
      
      label.w3-text-teal  
        b Name
      input.w3-input.w3-border.w3-light-grey(
        type='text'
        name='nome'
        style="margin-bottom: 20px;"
        value=student.nome
        required
      )

      label.w3-text-teal
        b Number
      if action == '/students'
        input.w3-input.w3-border.w3-light-grey(
          type='text'
          name='numero'
          style="margin-bottom: 20px;"
          value=student.numero
          required
        )
      else
        input(
          type='hidden'
          name='_method'
          value='PUT'
        )
        input.w3-input.w3-border.w3-light-grey(
          type='text'
          name='numero'
          style="margin-bottom: 20px;"
          value=student.numero
          required
          readonly
        )        

      label.w3-text-teal
        b Course
      input.w3-input.w3-border.w3-light-grey(
        type='text'
        name='curso'
        style="margin-bottom: 20px;"
        value=student.nome
        required
      )

      label.w3-text-teal
        b Git Link
      input.w3-input.w3-border.w3-light-grey(
        type='text'
        name='git'
        style="margin-bottom: 20px;"
        value=student.git
        required
      )

      input.w3-btn.w3-blue-grey(
        type='submit'
        value='Submit'
        style="margin-right: 100px;"
      )
      input.w3-btn.w3-blue-grey(
        type='reset'
        value='Clear Fields'
      )
    footer.w3-container.w3-teal(style = "margin-top: 20px;")
      address(style="margin-top: 10px") Gerado por DAW App :: DAW2020 em #{date}
      address(style="margin-top: 20px") 
        if action == '/students'
          a(href="/students") [Back to Main Page]
        else  
          a(href="/students/" + student.numero) [Back to Student]