<h2>Escola de Música</h2>
<ul>
    <h3><li><a href="/alunos">Lista de Alunos</a></li></h3>
    <h3><li><a href="/cursos">Lista de Cursos</a></li></h3>
    <h3><li><a href="/instrumentos">Lista de Instrumentos</a></li></h3>
</ul>