.header_title{
    font-family: Tangerine;
    font-size: 50px;
    color: white;
}

p{
    color: white;
}

.caption{
    color: black;
    font-family: Allerta Stencil;
}

.video-container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.video-container-iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

b{
    font-size: 30px;
}